body {
    background: #fafafa;
    font-size: 16px;
    line-height: 24px;
}

.search {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.search.is-focused + .mdl-navigation {
    opacity: 0;
    width: 100px;
}

.mdl-navigation--accent {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.mdl-navigation__link--accent {
    background: #ff4081;
}

.product-card {
    position: relative;
    background: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.product-card__details {
    padding: 16px;
    padding-bottom: 8px;
}

.product-card__price--was {
    text-decoration: line-through;
}

.product-card__price--discounted {
    color: #ff4081;
}

.product-card__discount {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #fff;
    background: #ff4081;
    padding: 8px;
}

.product-card__title {
    font-weight: bold;
    color: rgba(0,0,0,.87);
}

.product-card__actions {
    padding: 16px;
    padding-top: 0;
}

.product-card__actions button {
    font-size: 12px;
    margin: 8px 4px;
}

/* Homepage */
.hero {
    position: relative;
}

.hero__title {
    display: block;
    text-shadow: 0 1px 0 #3f51b5;
}

.hero__content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
}

.hero__content {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.hero__content-wrap::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
}

.hero__image {
    width: 100%;
}

/* Product Details */
.product-media {
    position: relative;
}

.product-media__zoom {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}

.product-media:hover .product-media__zoom {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 1;
}
.product-details__description {
    padding: 16px 0;
}
.product-details__price {
    padding: 16px 0;
    font-size: 24px;
    font-weight: bold;
}